<% include ./partials/head %>
<% include ./partials/header %>

<div class='flipcard-app'>

  <h1>Create a New Deck</h1>

  <form class="" action="/flipcard/create-deck" method="post">
    <label for="deck-name">Deck Name</label>
    <input type="text" name="deck-name" value="">

    <br>
    <input type="radio" name="access" value="public">Public<br>
    <input type="radio" name="access" value="private">Private<br>

    <input type="submit" name="" value="Create">
  </form>

</div>

<% include ./partials/footer %>
<% include ./partials/foot %>
