<% include ./partials/head %>
<% include ./partials/header %>

<div class='flipcard-app'>

  <h1>Welcome!</h1>

  <% if( locals.user ) { %>
    <p><a href="/auth/logout">Logout</a></p>
    <p>Study a deck</p>
    <p><a href="/flipcard/create">Create a deck</a></p>
    <p>Edit a deck</p>
  <% } else { %>
    <p><a href="/auth/login">Login</a></p>
    <p><a href="/auth/register">Register</a></p>
    <% } %>

</div>

<% include ./partials/footer %>
<% include ./partials/foot %>
