<% include ./partials/head %>
<% include ./partials/header %>

    <div class='flipcard-app'>

      <h1>Study a Deck</h1>

      <%= card %>

        <div class="stage">
          <div class="flashcard">
            <div class="front">
              <p><%= card.front %></p>
            </div>
            <div class="back">
              <p><%= card.back %></p>
            </div>
          </div>
        </div>

    </div>

<script>
let card = document.querySelector('.flashcard');
card.addEventListener('click', (e)=> {
  console.log(e);
  card.classList.toggle('flipped');
});
</script>

<% include ./partials/footer %>
<% include ./partials/foot %>
