body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.header {
  text-align: center;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  margin-bottom: 30px;
}

.choice {
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin: 5px;
  width: 200px;
  padding: 15px;
}

a {
  color: #00B7FF;
}

.stage {
  -webkit-perspective: 1000;
}

.flashcard {
  height: 300px;
  width: 500px;
  margin: 10% auto;
  border: 1px solid gray;
  box-shadow: 2px 2px 2px #000;
  -webkit-transform-style: preserve-3d;
  transition: all 2s;
  -webkit-transition: all 2s;
}

.flipped, .back {
  transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
}

.front, .back {
  height: 300px;
  width: 500px;
  position: absolute;
  text-align: center;
  -webkit-backface-visibility: hidden;
}

.front p, .back p {
  margin-top: 25%;
  font-size: 3em;
}

.front {
  background-color: rgb(166, 162, 165);
}

.back {
  background-color: rgb(16, 188, 214);
}
